.wrapper {
  min-width: 400px;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  font-family: Arial;
}

input,
select {
  width: 100%;
  min-height: 25px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}
